html{
    scroll-behavior: smooth!important;
}
body{
    background-color: #191919 !important;
}
a.bottomLinks{
    text-decoration: none;
    color: #998ec3;
}
a.bottomLinks:hover{
    color: #998ec3;
    text-decoration: none;
    font-weight: 800;
}
a:hover{
    color: #998ec3;
    box-shadow: none!important;
    text-decoration: none;
}
a.fa {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
a.fa:hover{
    color: #998ec3
}
#about{
    font-family: 'Heebo', sans-serif;
}
.chevron-container{
    text-align: center;
    position: relative;
    width:50%;
    height:auto;
    z-index: 10;
    top: 35vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif
}
.chevron {
    position: absolute;
    width: 80px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    left: 45%;
}

.chevron:first-child {
animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background: #fff;
}

.chevron:before {
left: 0;
transform: skew(0deg, 40deg);
}

.chevron:after {
right: 0;
width: 50%;
transform: skew(0deg, -40deg);
}
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
@media (max-width: 576px){
    .stateTitle, .nationalTitle{
        font-size: 1em !important;
    }
    .spanHold{
        margin-top: 0vh !important;
    }
    .aboutPoints{
        font-size: 1em !important;
    }
    h4{
        font-size: 1.3em !important;
    }
    .modal-title{
        border-bottom: 2px solid white;
    }
    .modal-content{
        height: 450px !important;
        overflow: auto !important;
    }
    .mobileHeader{
        margin-bottom: 10px;
    }
    .modal-body{
        margin-top: 20px !important
    }
    .chevron-container{
        width: 100% !important;
    }
    .chevron{
        position: absolute;
        left: 40%
    }
    .propLegend{
        z-index: 9999 !important;
    }
    .dropdownDiv{
        left: 25% !important
    }
    html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    }
    .circleBox{
        padding: 1vh;
        height:10vh !important;
        text-align: left !important;
    }
    .c{
        height: 8vh !important;
        width: 8vh !important;
        border-radius: 50%;
        display: inline-block;
    }
    div.introBox h1{
        font-size: 40px !important;
    }
    .facts{
        margin-left: -10px !important;
    }
    .container-redefined{
        max-width: 80% !important;
    }
    .introBox{
        width: 85% !important;
    }
    .introParagraph, .introParagraphLEFT{
        font-size: 1em !important;
        width: 95% !important;
        padding: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
        z-index: 99990 !important;
        line-height: 1.4rem !important;
    }

    h2{
        font-size: 1.5em !important;
    }
    h3{
        font-size: 0.9em !important;
    }
    li{
        font-size: 0.7em !important;
    }
    ul{
        margin-left: -25px !important;
    }
    .navbar-brand{
        font-size: 1.1em !important;
    }
    figure.natChart, figure.stateChart{
        top: 15%;
    }
  }
canvas.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
.circleBox{
    padding: 1vh;
    height:16vh;
    text-align: center;
}
.circleBoxR{
    padding: 1vh;
    height:6vh;
    text-align: center;
}
.c{
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    display: inline-block;
}
.cs{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    display: inline-block;
}
.csx{
    margin-left: 15px;
    margin-right: 15px;
}
.c1 {
  background-color: #722e94;
}
.c2 {
   background-color: #b97cca;
}  
.c3 {
    background-color: #b16a24;
 }
.c4 {
    background-color: #86bf87;
}
.c5 {
    background-color: #23632f;
}
.container-redefined{
    max-width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
div.introBox h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
.dropdownDiv{
    position: absolute;
    left: 70%;
    font-size: 1.25em;
    z-index: 99999 !important;
}
.factsR{
    padding:15px
}
h2{
    color: white;
    font-size: 2.5em;
    font-family: 'Heebo', sans-serif;
}
h3{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.inform{
    font-family: 'Heebo', sans-serif;
    z-index: 100 !important;
    fill: grey !important;
    opacity: 0.4;
    font-size: 1.2em;
}
.informText{
    fill: white;
    font-size: 1.5em;
    text-shadow: -3px 3px 0 black, 3px 3px 0 black, 3px -3px 0 black, -3px -3px 0 black;
}
.introBox{
    padding: 15px, 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 45%;
    background-color: rgba(25,25,25,0.85);
    border: 1px solid white;
    position: relative;
    z-index: 10;
    top: 20vh;
    font-family: 'Heebo', sans-serif;
}
.introParagraph{
    padding: 40px;
    text-align: left;
    color: white;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    background-color: rgba(25,25,25,0.8);
    border:1px solid white;
    position: relative;
    top: 10vh;
    margin-bottom: 25vh;
    z-index: 15 !important;
    font-family: 'Heebo', sans-serif;
}
.spanHold{
    margin-top: 2.5vh;
    text-align: left;
    color: white;
    font-size: 1.25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    position: relative;
    z-index: 15 !important;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 25vh;
}
.introSection{
    height: 100vh;
    background-color: #191919;
    
}
li{
    color: white;
    font-size: 1.05em;
}
li.about{
    color: black
}
.modal-content{
    background-color: #191919 !important;
    color: white !important;
    font-family: 'Heebo', sans-serif !important;
}
.modal-links{
    color: #998ec3 !important
}
.modal-title{
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 2em !important;
}
.close{
    color: white !important;
}
.modal-title{
    text-align: center;
    width: 100%;
    border-bottom: 2px solid white;
}
.modal-header{
    border-bottom: none !important;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0 !important;
}

.fade{
    opacity: 0.8 !important;
}
.navbar{
    position: sticky !important; 
    top: 0; 
    border-bottom: solid 1px #998ec3;
    box-shadow: 0 6px 4px -5px #998ec3;
    z-index: 100 !important;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-item{
    background-color: #191919 !important;
    text-align: center;
    font-size: 1em !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #998ec3 !important;
}
.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #998ec3 !important; 
}
ul{
    margin-left: -15px;
}
.step{
    opacity: 1;
    text-transform: none;
}
.scrollama__debug-offset{
    border-top: 2px dashed red !important;
}
article {
    position: relative;
}
figure.sticky {
    text-align: center;
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10 !important;
    font-family: 'Heebo', sans-serif;
}
#scatterplot{
    height: 100%;
    width: 100%;
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0 !important;
}
/* map styling */
.legend{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-family: 'Heebo', sans-serif;
}
.prop-map{
    height: 100%;
    width: 100%;
}
.propLabels{
    font-family: 'Heebo', sans-serif;
    fill: white;
    font-size: 0.9em;
}
.legendShadow {
    font-family: 'Heebo', sans-serif;
    stroke: #191919;
    stroke-width: 10px;
    opacity: 1;
}
.legendTitle{
    font-family: 'Heebo', sans-serif;
    fill: white;
    font-size: 1em; 
}
.introParagraphLEFT{
    padding: 1vw;
    text-align: left;
    color: white;
    font-size: 1em;
    margin-left: 1vw;
    height: auto;
    width: 12.5vw;
    background-color: rgba(25,25,25,0.8);
    border:1px solid white;
    position: relative;
    top: 10vh;
    margin-bottom: 25vh;
    float: left;
    font-family: 'Heebo', sans-serif;
}
.infolabel h1 {
    text-align: center;
    margin: 0 0px 0 0;
    padding: 0;
    display: block;
    font-size: 1.35em;
    margin-bottom: -20px;
    font-family: 'Heebo', sans-serif;
}
.infolabel {
    text-align: center;
    margin: 0 20px 0 0;
    position: absolute;
    min-height: 6vh;
    max-height: auto;
    min-width: auto;
    color: #fff;
    background-color: #191919;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: 'Heebo', sans-serif;
}
.states{
    border: 0.25px solid white;
}

figure.natChart, figure.stateChart{
    position: sticky;
    top: 20%;
    z-index: 0;
    transform: translate3d(0,0,0);
}
figure.scatterplot{
    position: sticky;
    z-index: 0;
}

p.introParagraph{
    width: 40%;
}
.mapStepper:last-child, .natStepper:last-child {
    margin-bottom: 0;
}
#natScrolly, #mapScrolly, #stateScrolly, #scatter {
    position: relative;
}
article {
    position: relative;
}
.gap{
    height: 100vh;
    opacity: 0;
    width: 0;
    z-index: 0
}
.dropdown{
    opacity: 0
}
/* Chart 1 */
.axis{
    color: white;
    font-size: .8em;
}
.label{
    fill: white;
    font-size: .9em;
}
/* Mini Charts */
.miniBarLabel{
    font-size: 0.7em;
    fill: white;
}
.miniTitleText{
    fill: white;
    font-size: 0.8em;
}
.miniYaxis{
    font-size: 0.7em;
}
.minichart{
    margin-left: -10px;
}