body{
    background-color: #191919 !important;
}
@media (max-width: 576px){
    html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    }
    .circleBox{
        padding: 1vh;
        height:10vh !important;
        text-align: left !important;
    }
    .c{
        height: 8vh !important;
        width: 8vh !important;
        border-radius: 50%;
        display: inline-block;
    }
    div.introBox h1{
        font-size: 40px !important;
    }
    .facts{
        margin-left: -10px !important;
    }
    .introBox{
        width: 85% !important;
    }
    .introParagraph, .introParagraphLEFT{
        font-size: 1em !important;
        width: 95% !important;
        padding: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    h2{
        font-size: 1.5em !important;
    }
    h3{
        font-size: 0.9em !important;
    }
    li{
        font-size: 0.7em !important;
    }
    ul{
        margin-left: -25px !important;
    }
  }
canvas.dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
.circleBox{
    padding: 1vh;
    height:16vh;
    text-align: center;
}
.circleBoxR{
    padding: 1vh;
    height:6vh;
    text-align: center;
}
.c{
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    display: inline-block;
}
.cs{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    display: inline-block;
}
.c1 {
  background-color: #7b3393;
}
.c2 {
   background-color: #c2a5cf;
}  
.c3 {
    background-color: #d2eadb;
 }
.c4 {
    background-color: #a7d5a0;
}
.c5 {
    background-color: #078844;
}
.container-redefined{
    max-width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
div.introBox h1{
    font-size: 4rem;
    text-align: center;
}
.factsR{
    padding:15px
}
h2{
    color: white;
    font-size: 2.5em;
}
h3{
    color: white
}
.introBox{
    padding: 15px, 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 45%;
    background-color: rgba(25,25,25,0.85);
    border: 1px solid white;
    position: relative;
    z-index: 10;
    top: 20vh;
}
.introParagraph{
    padding: 40px;
    text-align: left;
    color: white;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    background-color: rgba(25,25,25,0.8);
    border:1px solid white;
    position: relative;
    top: 10vh;
    margin-bottom: 25vh;
    z-index: 15 !important;
}
.introSection{
    height: 100vh;
    background-color: #191919;
    
}
li{
    color: white;
    font-size: 1.05em;
}
li.about{
    color: black
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: black
}
.navbar{
    position: sticky !important; 
    top: 0; 
    overflow: hidden;
    border-bottom: solid 1px #998ec3;
    box-shadow: 0 6px 4px -5px #998ec3;
    z-index: 100 !important;
}
ul{
    margin-left: -15px;
}
.step{
    opacity: 1;
    text-transform: none;
}
.scrollama__debug-offset{
    border-top: 2px dashed red !important;
}
article {
    position: relative;
}
figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10 !important;

}
/* map styling */
.legend{
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.prop-map{
    height: 100%;
    width: 100%;
}
.introParagraphLEFT{
    padding: 1vw;
    text-align: left;
    color: white;
    font-size: 1em;
    margin-left: 1vw;
    height: auto;
    width: 12.5vw;
    background-color: rgba(25,25,25,0.8);
    border:1px solid white;
    position: relative;
    top: 10vh;
    margin-bottom: 25vh;
    float: left
}
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
}
.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    min-height: 6vh;
    max-height: 8vh;
    min-width: 100px;
    color: #fff;
    background-color: #191919;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: 'Merriweather Sans', sans-serif;
}
.states{
    border: 1px solid white
}
figure.sticky{
    position: sticky;
    z-index: 0;
}
p.introParagraph{
    width: 40%;
}
.stepper:last-child {
    margin-bottom: 0;
}
#scrolly {
    position: relative;
}

article {
    position: relative;
}
.gap{
    height: 100vh;
    opacity: 0;
    width: 0;
    z-index: 0
}
/* Chart 1 */
.axis{
    color: white;
    font-size: .8em;
}
.label{
    fill: white;
    font-size: .9em;
}
a.fa {
    color: #191919;
}
