
.c1 {
  background-color: #7b3393;
}
.c2 {
   background-color: #c2a5cf;
}  
.c3 {
    background-color: #d2eadb;
 }
.c4 {
    background-color: #a7d5a0;
}
.c5 {
    background-color: #078844;
}
a.fa {
    color: #191919;
}
nav.li{
    color: white;
    font-size: 1.05em;
}
.navbar{
    position: sticky !important; 
    top: 0; 
    border-bottom: solid 1px #998ec3;
    box-shadow: 0 6px 4px -5px #998ec3;
    z-index: 10;
    height: 6vh;
}
ul{
    margin-left: -15px;
}
/* map styling */
#map, body, html{
    height: 94vh;
    width: 100%;
}
