.c{
    height: 1.5vh;
    width: 1.5vh;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
}
.c1 {
  background-color: #7b3393;
}
.c2 {
   background-color: #c2a5cf;
}  
.c3 {
    background-color: #996415;
 }
.c4 {
    background-color: #a7d5a0;
}
.c5 {
    background-color: #078844;
}
p{
    line-height: 1rem;
}
.generation{
    display: inline-flex;
    height: 3vh;
    width: 100%;
}

a.fa {
    color: #191919;
}
.nav-item{
    background-color: #191919 !important;
    text-align: center;
}
nav.li{
    background-color: #191919 !important;
    color: white;
    font-size: 1.0em;
    z-index: 99999 !important;
}
.navbar{
    position: sticky !important; 
    top: 0; 
    border-bottom: solid 1px #998ec3;
    box-shadow: 0 6px 4px -5px #998ec3;
    z-index: 99999 !important;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-nav{
    z-index: 99999 !important;
}
ul{
    margin-left: -15px;
}

/* map styling */
#map, body, html{
    height: 94vh;
    width: 100%;
}
#map{
    position: absolute
}
#legend{
    position: absolute;
    height: 35vh;
    width: 15%;
    background-color: black;
    color: white;
    opacity: 0.8;
    bottom: 4vh;
    left: 1vw;
    z-index: 100;
    cursor: default !important;
    font-family: 'Heebo', sans-serif;
}
.dotScale{
    position: absolute;
    height: 5vh;
    width: 20%;
    background-color: black;
    color: white;
    opacity: 0.8;
    top: 80px;
    left: 40%;
    z-index: 100;
    cursor: default !important;
    border: 2px solid white;
    font-family: 'Heebo', sans-serif;
}
h3{
    text-align: center;
    font-size: 1.5em !important;
    margin-top: 5px !important;
    
}
h2{
    text-align: center;
    font-size: 1.5em !important;
}
.bGen{
    margin-left: 0.5vw;
    margin-bottom: auto;
    margin-top: auto;
}
.birthDesc {
    display: none;
    top: 8.5%;
    padding: 7px;
    width: 225px;
    position: absolute;
    margin-left: 95%;
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.9;
}
body{
    background-color: #191919 !important;
}
#about{
    font-family: 'Heebo', sans-serif;
}
@media (max-width: 576px){
    .dotScale{
        position: absolute;
        height: 10%;
        width: 80%;
        background-color: black;
        color: white;
        opacity: 0.8;
        top: 8vh;
        left: 10%;
        z-index: 100;
        cursor: default !important;
        border: 2px solid white
    }
    .navbar-brand{
        font-size: 1.1em !important;
    }
    nav.li{
        color: white;
        z-index: 99999 !important;
    }
    nav{
        z-index: 99999 !important;
    }
    #legend{
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        display: inline-block
    }
    #generations{
        float: left;
        width: 50%;
    }
    #functions{
        float: right;
    }
}
@media (max-width: 370px){
    .navbar-brand{
        font-size: 0.9em !important;
    }
    #functions{
        float: right;
        margin-right: -10px;
    }
}