.c{
    height: 1.5vh;
    width: 1.5vh;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
}
.c1 {
  background-color: #722e94;
}
.c2 {
   background-color: #b97cca;
}  
.c3 {
    background-color: #b16a24;
 }
.c4 {
    background-color: #86bf87;
}
.c5 {
    background-color: #23632f;
}
p{
    line-height: 1rem;
}
.generation{
    display: inline-flex;
    height: 3vh;
    width: 100%;
}
.generations{
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;

}
a.explanation{
    color: white; 
    text-decoration: none;
    padding: 3px;
    font-size: 0.95em;
    text-align: center;
    text-decoration: none;
    box-shadow: none!important;
}
a.explanation:hover{
    color: black; 
    font-weight: 800;
    text-decoration: none;
    background-color: white;
    box-shadow: none!important;
}
a.fa {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
a.fa:hover{
    color: #998ec3
}
.nav-item{
    background-color: #191919 !important;
    text-align: center;
}
nav.li{
    background-color: #191919 !important;
    color: white;
    font-size: 1.0em;
    z-index: 99999 !important;
}
.navbar{
    position: sticky !important; 
    top: 0; 
    border-bottom: solid 1px #998ec3;
    box-shadow: 0 6px 4px -5px #998ec3;
    z-index: 99999 !important;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-nav{
    z-index: 99999 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #998ec3 !important;
}
.navbar.navbar-dark .nav-item .nav-link:hover { 
    color: #998ec3 !important; 
}
ul{
    margin-left: -15px;
}
.buttonYear{
    text-align: center;
}
.year.active{
    background-color: white;
    color: black;
}
.year:hover{
    background-color: white;
    color: black;
}
.year{
    background-color: black;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-style: none;
}
body {
    overflow: hidden;
    }
/* map styling */
body, html{
    width: 100%;
}
#map{
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute
}
.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
#legend{
    position: absolute;
    height: auto;
    width: 225px;
    background-color: black;
    color: white;
    opacity: 0.9;
    bottom: 4vh;
    left: 1vw;
    z-index: 100;
    cursor: default !important;
    font-family: 'Heebo', sans-serif;
}
#labels{
    margin-bottom: 15px;
}
.legendTitle{
    margin-top: 10px;
}
.dotScale{
    position: absolute;
    height: 5vh;
    width: 300px;
    background-color: black;
    color: white;
    opacity: 0.8;
    top: 80px;
    left: 40%;
    z-index: 100;
    cursor: default !important;
    border: 2px solid white;
    font-family: 'Heebo', sans-serif;
}
h4{
    font-size: 1.5em !important;
}
h3{
    text-align: center;
    font-size: 1.5em !important;
    margin-top: 5px !important;
    
}
h2{
    text-align: center;
    font-size: 1.5em !important;
}
h4{
    font-size: 1.5em !important;
}
.modal-content{
    background-color: #191919 !important;
    color: white !important;
    font-family: 'Heebo', sans-serif !important;
}
.modal-links{
    color: #998ec3 !important
}

.modal-title{
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 2em !important;
}
.close{
    color: white !important;
}
.modal-header{
    border-bottom: none !important;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0 !important;
}
.bGen{
    margin-left: 0.5vw;
    margin-bottom: auto;
    margin-top: auto;
}
.birthDesc {
    display: none;
    top: 19.5%;
    padding: 7px;
    width: 225px;
    position: absolute;
    margin-left: 95%;
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: 500;
    opacity: 1;
}
body{
    background-color: #191919 !important;
}
.mobileButton{
    z-index: 99999 !important;
    width: 100% !important;
    height: 60px;
    bottom: 0 !important;
    color: white !important;
    background-color: black !important;
    position: fixed !important;
    text-decoration: none !important;
    border-style: none !important;
    font-family: 'Heebo', sans-serif;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:none !important;
}
.btn-primary{
    background-color: black !important;
    border-color: none !important;
}
.btn-primary:hover{
    background-color: black !important;
    border-color: none !important;
}
#about{
    font-family: 'Heebo', sans-serif;
}
/* #compare{
    margin-top: 10px;
} */
#gained_box{
    margin-top: 10px;
}
.mapboxgl-ctrl-group{
    margin-top: 80px !important;
}

.modal-title{
    width: 100%;
    border-bottom: 2px solid white;
}
@media (max-width: 576px){
    .modal-content{
        height: 450px !important;
        overflow: scroll !important;
    }
    .modal-body{
        margin-top: 20px !important
    }
    .dotScale{
        height: 40px;
        width: 70%;
        background-color: black;
        color: white;
        opacity: 0.9;
        top: 90px;
        left: 15%;
        z-index: 100;
        cursor: default !important;
        border: 2px solid white;
       
    }
    .navbar-brand{
        font-size: 1.1em !important;
    }
    nav.li{
        color: white;
        z-index: 99999 !important;
    }
    nav{
        z-index: 99999 !important;
    }
    #legend{
        left:0;
        bottom:50px;
        height: 250px;
        width: 100%;

    }
    #generations{
        float: left;
        width: 50%;
    }
    #functions{
        float: right;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    #labels{
        margin-bottom: 0;
    }
    .explanation{
        margin-top: 100px
    }
    .dotTitle{
        font-size: 1.5em !important;
    }
    .helpButton{
        margin-top: 26%;
        height:30px;
        margin-bottom: 10px;
        bottom: 0;
    }
    .c{
        height: 2vh;
        width: 2vh;
        margin-right: 5px;
    }
    a.mapboxgl-ctrl-logo{
        height: 85px !important
    }
    .mapboxgl-ctrl-attrib{
        height: 40px !important
    }
}
@media (max-width: 370px){
    .navbar-brand{
        font-size: 1.05em !important;
    }
    #functions{
        float: right;
        margin-right: -10px;
    }

}
@media (max-width: 325px){
    .dotScale{
        height: 35px;
        width: 65%;
        opacity: 0.8;
        top: 80px;
        left: 20%;
        font-size: 0.8em;
    }
    .navbar-brand{
        font-size: 0.9em !important;
    }
    #functions{
        float: right;
        margin-right: -10px;
    }
    #legend{
        height: 275px;
    }
    .helpButton{
        margin-top: 31%;
        height:30px;
        bottom: 0;
    }
    .generation{
        margin-top: 10px;
    }
    .c{
        height: 2vh;
        width: 2vh;
        margin-right: 5px;
    }
}
/*/////////////////////// */
/*//// Compare Swipe//// */
/*//////////////////////*/
.mapboxgl-compare{
    background-color: #191919;
    box-shadow: inset 0 0 0 10px #998ec3;
}
.compare-swiper-vertical{
    background-color: #191919 !important;
    box-shadow: inset 0 0 0 2px #998ec3 !important; 
    color: #998ec3 !important;
    width: 400px !important;
    height: 80px !important;
    border-radius: 0 !important;
    left: -20px !important;
    background-image: none !important;
}